.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* ============== barchart ====================== */
.chart {
  border: black solid 2px;
  padding: 5px;
  margin: 10px;
}

.simple-barchart div, .scale-to-fit div {
  background-color: steelblue;
  color: white;
  padding: 3px;
  margin: 1px;
  font: 10px sans-serif;
  text-align: right;
}

rect {
  fill: steelblue;
}

.svg-chart text, .load-data text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.vertical-bar text {
  font: 10px sans-serif;
  text-anchor:middle;
}